.slick-list {
    margin: 0 -90px 0 20px ;
    overflow: hidden;
    box-sizing: border-box ;
    width: 1110px;
}
.slick-slide>div {
    padding: 0 8px;
}
.slick-slide {
    width: 220px;
    overflow: hidden;
}
.slick-track{
    margin: auto;
}
.slick-prev{
    left: 0px;
    top: 130px;
    width: 30px;
    height: 30px;
}
.slick-prev::before{
    font-size: 30px;

}
.slick-next{
    right: 0px;
    top: 130px;
    font-size: 20px;
    width: 30px;
    height: 30px;
}
.slick-next::before{
    font-size: 30px;
}

.card{
    background-color: #ccc;
    height: 255px;
    margin: 0 5px;
    border-radius: 10px;

    .card-top{
        margin-top: 5px;
        height: 80%;
        width: 100%;
        margin-bottom: 5px;

        .card-img{
            height: 75%;
            width: 70%;
            margin: 0 auto;
            object-fit: cover;
            text-align: center;
            border-radius:10px ;

        }
        .card-title{
            margin-top: 5px;
            text-align: left;
            font-size:15px ;
            font-weight: bold;
            padding: 0 15px;
        }
    }

    .card-bottom{
        padding: 0 15px;
        
        .card-price{
            display: flex;

            .card-price-sale{
                font-size: 14px;
                font-weight: bold;
                color: red;
                margin: 0 5px 0px 0px;
            }
            .card-price-real{
                font-size: 14px;
                font-weight: bold;
                color: grey;
                margin: 0 0 0 5px;
                text-decoration: line-through;
                
            }
        }
    }
}